@page "/movieMosaic"

<div class="container-xxl text-center mt-3">
    <div>
        <img src="/img/mwMovieMosaicLogo.png" class="title-img" />
        <h5 class="subTitle">Guess the Movie, One Tile at a Time.</h5>
    </div>
</div>
<div class="container-xxl game-container">
    <div class="gameBoard-container border border-danger">
       <div class="poster-container">
           <img src="/img/RaidersPoster.png" class="poster-img"/>
       </div>
    </div>
    <div class="gameBoard-controls border border-info">
        Controls
    </div>

</div>

@code {

}
