@page "/showMosaic"

@rendermode InteractiveServer

<PageTitle>Show Mosaic</PageTitle>

<div class="container-xxl text-center mt-3">
    <div>
        <img src="/img/mw1024_ShowMosaicLogo.png" class="title-img" />
        <h5 class="subTitle">Piece Together the Show, One Tile at a Time.</h5>
    </div>ed 
</div>


@code {

}
