@page "/"
@inject IJSRuntime JS
@layout HomeLayout

<PageTitle>Home</PageTitle>

<!--Page Background-->
<div class="h-100 d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-xl-2 container-xxl h-100">
        <div class="col d-flex flex-column justify-content-xl-center order-last order-xl-first">
            <div class="title">Media Mosaic</div>
            <div class="subTitle">
                Media Mosaic is an app using data provided by
                <a href="https://www.themoviedb.org/" class="link-warning">The Movie DB</a> API.
                Guess the hidden movie or tv show, one tile at a time.
            </div>
            <div class="mt-3">
                <h3 class="subTitle">Try Your Luck Now!</h3>
                <div class="hstack gap-2">
                    <a href="movieMosaic" class="btn btn-home">Movie Mosaic</a>
                    <!-- <a href="showMosaic" class="btn btn-home">Show Mosaic</a>-->
                </div>
            </div>
            <div class="mt-3">
                <p class="subTitle">Built with pride using: </p>
                <div class="hstack">
                    <div><i class="devicons devicon-csharp-plain me-1"></i></div>
                    <div><i class="devicons devicon-blazor-original me-1"></i></div>
                    <div><i class="devicons devicon-bootstrap-plain me-1"></i></div>
                    <div><i class="devicons devicon-html5-plain me-1"></i></div>
                    <div><i class="devicons devicon-css3-plain me-1"></i></div>

                </div>
            </div>
        </div>
        <div class="col d-flex flex-column justify-content-center">
            <img src="/img/mw1024_MediaMosaicLogo.png" class="img-fluid" />
        </div>
    </div>

</div>