<div class="modal fade" id="showInstructionsModal" data-bs-theme="dark" tabindex="-1" aria-labelledby="showInstructionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="showInstructionsModalInstructions">How to Play ShowMosaic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush text-light">
                    <li class="list-group-item bg-transparent border-0 text-light">
                        <i class="bi bi-lightbulb-fill text-warning me-2"></i>
                        <strong>Start with a Hint:</strong> You'll get a clue about the TV Show.
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-light">
                        <i class="bi bi-image-fill text-info me-2"></i>
                        <strong>Mosaic Poster:</strong> The poster starts hidden with only one square visible.
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-light">
                        <i class="bi bi-search text-secondary me-2"></i>
                        <strong>Type Your Guess:</strong> Start typing - autocomplete will help.
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-light">
                        <i class="bi bi-x-circle text-danger me-2"></i>
                        <strong>Wrong Guess?:</strong> Another square and hint is relvealed. You have only 5 guesses.
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-light">
                        <i class="bi bi-trophy-fill text-success me-2"></i>
                        <strong>Win:</strong> Guess correctly and you win. The poster and hints will show.
                    </li>
                    <li class="list-group-item bg-transparent border-0 text-light">
                        <i class="bi bi-eye-fill text-light me-2"></i>
                        <strong>Out of Guesses?:</strong> The full poster is relvealed and the anwser is shown.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

}
